#contentSize {
    display: table-cell;
}

html, body {
    font-size: 62.5%;
    font-size: 10px;
    letter-spacing: 0.1rem;
    margin: 0;
    padding: 0;
}

/* Style the list */
ul.tab {
    margin: 0;
    padding: 0;
    display: table;
    height: 34px;
    width: 446px;
}

.tablinks {
    -moz-user-select: none;
    display: table-cell;
    border: 2px solid #444;
    padding: 3px;
    cursor: pointer;
    color: #000;
    text-align: center;
    font-size: 2rem;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.tablinks:nth-child(2) {
    border-left: 0;
    border-right: 0;
}

.active {
    background: #444;
    color: white;
}

.tablinks:not(.active):hover {
    background: #cecece;
}


/* Style the tab content */

#contentDiv {
    border: 2px solid #444;
    border-top: none;
    display: inline-block;
    min-width: 442px;
}

.tabcontent {
    padding-top: 10px;
    margin: 0 6px 0 13px;
    border-top: none;
    font-size: 17px;
    animation: fadeEffect .5s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* ############# ADD BUTTON ############# */

#addbutton {
    margin: 0 0 10px -1px;
    width: 418px;
    cursor: pointer;
}

::-moz-focus-inner {
    border: 0;
}

#add {
    float: initial;
    clear: both;
}


/* ################# SVG ################# */

#svg {
    float: left;
    display: flex;
    justify-content: space-between;
    width: 332px;
    margin-right: 7px;
    /*background: #00ff00;*/
}

#cbicons {
    display: flex;
    justify-content: space-between;
    width: 74px;
    margin-top: 19px;
}

.casesens {
    margin-right: 2px;
}

#svg > span, #svg > label{
    cursor: pointer;
}


/* ############## HIGHLIGHT ############## */

.highlight:hover path:nth-child(2) {
    fill: #777;
}

.highlight:active path:nth-child(2) {
    fill: #333;
}


/* ################ CLEAN ################ */

.eraser:hover path {
    fill: #777;
}

.eraser:active path {
    fill: #333;
}


/* ########## CHECKBOX PROPERTIES ########## */

.svgcb {
    display: none;
}


/* ############### ONLOAD CB ############### */

#onloadcb + label span:hover path {
    fill: #777;
}

#onloadcb:checked + label span path {
    fill: #20AE20;
}


/* ############# REMOVE ROWS CB ############# */

#trashcb + label span:hover path {
    fill: #777;
}

#trashcb:checked + label span path {
    fill: #f00;
}


/* ################ ROWS ################ */

.row {
    clear: both;
}

.row>* {
    float: left;
    margin: 0 7px 7px 0;
}


/* ################ COLORPICKER ################ */

.colorpicker {
    padding: 0;
    border: none;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

input[type="color"]::-moz-focus-inner {
    padding: 0;
    border: none;
}

input::-moz-color-swatch {
    border: 1px solid #000;
}


/* ################ TEXTAREA ################ */

.textarea {
    width: 300px;
    height: 19px;
    font-size: 13px;
    font-size: 1.3rem;
    transition: all 0.25s ease;
    resize: none;
    border: 1px solid #000;
    line-height: 19px;
}

.textarea:focus {
    height: 105px;
}


/* ################ CHECKBOX ################ */

.checkbox-cont {
    width: 21px;
    height: 21px;
    position: relative;
}

.checkbox {
    display: none;
}

.checkbox + label span {
    outline: 1px solid transparent;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    width: 21px;
    height: 21px;
    border: 1px solid #000;
    border-width: 1px;
    transition: .1s;
    cursor: pointer;
}

.checkbox:checked + label span {
    outline: 1px solid transparent;
    transform: rotate(40deg);
    left: 6px;
    width: 10px;
    height: 18px;
    border-width: medium 2px 2px medium;
    border-top: none;
    border-left: none;
    border-color: #0F9D58;
}


/* ############# REMOVE BUTTON ############# */

.s0 {
    height: 21px;
    line-height: 0px;
    width: 77px;
    cursor: pointer;
}


/*Remove button from first element*/

#row0>.s0 {
    display: none;
}


/* ############# SELECTION TAB ############# */

#Selection {
    display: inline-block;
    min-width: 423px;
    margin-left: 11px;
}

#selectioncheckbox {
    clear: both;
    display: flex;
    justify-content: space-between;
    width: 419px;
    margin-bottom: 15px;
}

.bottext {
    color: black;
    white-space: nowrap;
    -moz-user-select: none;
    font-family: "Times New Roman";
    font-size: 16px;
    font-size: 1.6rem;
}

#delayinput {
    width: 30px;
    height: 17px;
    font-size: 13px;
    font-size: 1.3rem;
    border: 1px solid #000;
}

.selcolorlabel {
    float: left;
    margin-top: -6px;
    color: black;
    white-space: nowrap;
    -moz-user-select: none;
    font-family: "Times New Roman";
    font-size: 24px;
    font-size: 2.4rem;
}

#selectioncolor {
    display: flex;
    justify-content: space-between;
    width: 419px;
    margin-bottom: 10px;
}

#selectionhighlightalllabel {
    margin-left: 40px;
}

#hlall {
    margin-bottom: 15px;
}

/* ############## TAB 3 ############## */

#Advanced {
    min-width: 423px;
    margin-bottom: 10px;
}

.texto {
    font-size: 2.1px;
    font-size: 2.1rem;
    margin-bottom: 5px;
}

.labeltext {
    font-size: 2.1px;
    font-size: 2.1rem;
    margin-left: 8px;
}

.textinput {
    margin-bottom: 5px;
}

#separator {
    width: 12px;
}


/*.row .checkbox-cont {
    display: none;
}*/
