body {
    background-color: #333333;
    overflow:hidden;
}

#panel {
    background-color: #333333;
    width: 335px;
}

#header {
    margin-top:7px;
    margin-bottom:10px;
    background-color:#555555;
    text-align:center;
    color:white;
    font-family: Arial;
    outline: 0;
    user-select:none;
    -moz-user-select:none;
}

#top {
    margin: 9px 0px 9px 8px;
}

#middle{
    margin-left:5px;
}

#bottom {
    margin-top:10px;
    padding-bottom:32px;
    
}
.pack {
    padding-bottom: 6px;
}
.clear {
    clear: both;
}

.onoffswitch {
    overflow: hidden;
    display: inline-block;
    margin-right: 22px;
    position: relative; 
    width: 148px;
    user-select:none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFF; border-radius: 5px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%; 
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; height: 36px; 
    padding: 0; 
    line-height: 36px;
    font-size: 32px; color: white; 
    font-family: Arial; 
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 39px;
    background-color: #03829E; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 25px;
    background-color: #474848; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 27px; margin: 4.5px;
    background: #FFFFFF;
    border: 2px solid #FFFFF; 
    border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 108px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.cleanbutton {
    text-decoration: none;
    height:36px;
    overflow: hidden;
    display: inline-block;
    background: #03829E;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 32px;
    padding: 0px 18px 0px 18px;
    outline: 0;
    user-select:none;
    -moz-user-select:none;
}

.cleanbutton:hover {
  background: #1c9bb7;
}

.cleanbutton:active { 
  background: #3cb0fd;
}

.colorpicker {
    float:left;
    margin-right: 4px;
    background-color:#333333;
    width: 28px;
    height: 23px;
    border: none;
    padding: 0px 0px 0px 0px;
}

.textarea {
    float:left;
    height: 1em;
    width: 250px;
    padding: 3px;
    transition: all 0.5s ease;
    resize:none;
}

.textarea:focus{
    height: 7em;
}

.polymer-checkbox-cont {
  float:left;
  position:relative;
}
.polymer-checkbox {
  display:none;
}
.polymer-checkbox + label span {
  position: absolute;
  box-sizing: border-box;
  top: 2px;
  left: 9px;
  width: 18px;
  height: 18px;
  border: 2px solid #7b7b7b;
  transition:0.1s;
  z-index:1;
}
.polymer-checkbox:checked + label span {
  transform: rotate(45deg);
  top: -1px;
  left: 13px;
  width: 10px;
  height: 21px;
  border-width: medium 2px 2px medium;
  border-top: medium none #0F9D58;
  border-left: medium none #0F9D58;
  border-color: #0F9D58;
}

.bottext {
    margin:1px 22px 0px 37px;
    color:#FFFFFF;
    float: left;
    user-select:none;
    -moz-user-select:none;
    font-family: "Times New Roman";
    font-size: 16px;
}